@import "tailwindcss" source("../");

body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #1a1a1a;
}

a {
  text-decoration: none;
}

* {
  scroll-behavior: smooth;
}
